* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 6px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /* ganzer Bildschirm */
    background-color: rgb(32, 223, 175);
}

header {
    width: 100%;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
    max-width: 1450px;
    margin: 0 auto;
    padding: 28px 16px 12px 16px;
}

.logo_content {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.logo_img {
    width: auto;
    height: 90px;
}

main {
    max-width: 1450px;
    margin: 0 auto;
    padding: 80px 16px 28px 16px;
}

.spinner_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-img {
    width: 224px;
    height: 224px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}