/* ==========================================================================
POKEMON-CARD.CSS

Enthält:
- 01 POKEMON CARD
- 02 
========================================================================== */

/* =============================================
----- 01 POKEMON CARD -----
============================================= */

.pkm_card {
    width: 260px;
    height: 380px;
    border-radius: var(--border-radius);
    border: 12px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:
        radial-gradient(rgba(var(--typ_bg_color), .36) 1px, transparent 2.2px) 0 0/50px 23px,
        radial-gradient(rgba(var(--typ_bg_color), .18) .8px, transparent 3.1px) 10px 11px/22px 22px,
        radial-gradient(rgba(var(--typ_bg_color), .28) 1px, transparent 2.2px) 6px -4px/24px 24px,
        radial-gradient(rgba(var(--typ_bg_color), .16) .9px, transparent 0.1px) 18px 8px/24px 24px,
        radial-gradient(ellipse at 65% 30%, rgba(236, 223, 41, 1.521), rgba(255, 255, 255, 0) 58%),
        radial-gradient(ellipse at 50% 120%, rgba(235, 213, 13, .644), rgba(0, 0, 0, 0) 40%),
        linear-gradient(180deg, var(--typ_bg_color_first), var(--typ_bg_color_second) 85%);
    transition: 200ms all;
}

.pkm_card:hover {
    filter: saturate(220%);
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 1px 1px 6px 1px #fff, -2px -1px 6px #fff;
}

.pkm_container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkm_header {
    display: flex;
    justify-content: space-between;
    padding: 6px 0 6px;
    width: 100%;
}

.pkm_header_left {
    display: flex;
    justify-content: space-between;
}

.pkm_stage {
    position: relative;
    top: -2px;
    left: -6px;
    height: 24px;
    min-width: 64px;
    padding: 0px 6px;
    margin-top: 5px;
    text-align: center;
    border-radius: 25px 10px 25px 10px;
    border: 1px solid var(--border);
    color: #494949;
    filter: drop-shadow(-3px 1px 1px rgb(31, 31, 31));
    background:
        linear-gradient(#ffffffcc, #ffffff33) top/100% 85% no-repeat,
        linear-gradient(#00000033, #00000000) bottom/100% 85% no-repeat,
        linear-gradient(180deg, #c8cdd3 0%, #eef0f3 10%, #b6bbc2 26%, #d5d9dd 46%, #9aa0a8 55%, #eef0f3 76%, #9aa1a8 100%);
}

.pkm_stage span {
    font-size: 14px;
    font-weight: bolder;
}

.pkm_name {
    min-width: 96px;
    font-size: 15px;
    font-weight: bold;
    color: #313030;
    margin-top: 3px;
}

.pkm_header_right {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

.pkm_hit_points {
    padding-right: 4px;
    color: #313030;
    margin: 0;
}

.pkm_hit_points_title {
    font-size: 14px
}

.pkm_hit_points_value {
    font-size: 14px;
    font-weight: bolder;
    margin-left: -3px;
}

.pkm_types {
    display: flex;
    flex-direction: column;
}

.pkm_type {
    position: relative;
    top: 2px;
    right: 2px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(236, 223, 41, 1.521);
}

.pkm_type img {
    width: 90%;
    object-fit: cover;
    object-position: center;
}

.pkm_image_container {
    width: 212px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkm_image {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .55);
    background: radial-gradient(ellipse at 30% 30%, rgba(255, 255, 255, .35), transparent 60%);
    box-shadow: 0 12px 28px rgba(0, 0, 0, .18);
    filter: drop-shadow(2px 1px 1px rgb(31, 31, 31));
}

.pkm_image img {
    width: 100%;
    height: 94%;
    object-position: center;
    object-fit: contain;
}

.pkm_like {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    line-height: 1;
    color: var(--red);
    transition: color 0.3s, transform 0.2s;
    border-radius: 50%;
    padding: 0 3px;
}

.pkm_like.is-liked {
    color: rgb(50, 187, 16);
    border-radius: 50%;
    transform: scale(1.1);
    background-color: white;
}

.pkm_like:hover {
    color: orange;
    transform: scale(1.1);
}

.pkm_like:focus {
    outline: 2px solid #ffd700;
    outline-offset: 2px;
}

.pkm_id_container {
    display: flex;
    justify-content: space-between;
    gap: 106px;
    margin-top: 6px;
}

.pkm_id_container dd {
    color: #fff;
    font-weight: bold;
    padding-top: 2px;
}

.pkm_meta_container {
    opacity: .95;
    color: #272727;
    background-color: rgb(234 234 234 / 29%);
    padding: 6px;
    border-radius: 6px;
    margin: 12px;
    border: 2px solid rgba(255, 255, 255, .45);
}

.pkm_meta_list {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.pkm_size,
.pkm_weight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.pkm_icon_size,
.pkm_icon_weight {
    width: auto;
    height: 16px;
}

.pkm_size dt,
.pkm_weight dt {
    display: flex;
    gap: 3px;
}

.pkm_size dd,
.pkm_weight dd {
    font-weight: bolder;
    display: flex;
    gap: 3px;
}

.card-icon {
    display: flex;
    color: #000000;
    font-size: 16px;
}