/* ==========================================================================
TYPES.CSS

Enthält:
- 01 TYP-COLOR BG
- 02 TYP-COLOR FONT
- 03 TYPE COLORS FOR POKEMON CARD
========================================================================== */


/* ===============================
   ----- 01 TYP-COLOR BG-----
   =============================== */

.color_bug {
    background: #92BC2C;
}

.color_dark {
    background: #595761;
}

.color_dragon {
    background: #0C69C8;
}

.color_fairy {
    background: #EE90E6;
}

.color_electric {
    background: #F2D94E;
}

.color_lightning {
    background: #F2D94E;
}

.color_fighting {
    background: #D3425F;
}

.color_fire {
    background: #FBA54C;
}

.color_flying {
    background: #A1BBEC;
}

.color_ghost {
    background: #5F6DBC;
}

.color_grass {
    background: #5FBD58;
}

.color_ground {
    background: #DA7C4D;
}

.color_ice {
    background: #75D0C1;
}

.color_normal {
    background: #A0A29F;
}

.color_poison {
    background: #B763CF;
}

.color_psychic {
    background: #FA8581;
}

.color_rock {
    background: #C9BB8A;
}

.color_steel {
    background: #5695A3;
}

.color_metal {
    background: #5695A3;
}

.color_water {
    background: #539DDF;
}

/* ===============================
   ----- 02 TYP-COLOR FONT -----
   =============================== */

.font_color_bug {
    color: #92BC2C;
}

.font_color_dark {
    color: #595761;
}

.font_color_dragon {
    color: #0C69C8;
}

.font_color_fairy {
    color: #EE90E6;
}

.font_color_electric {
    color: #F2D94E;
}

.font_color_lightning {
    color: #F2D94E;
}

.font_color_fighting {
    color: #D3425F;
}

.font_color_fire {
    color: #FBA54C;
}

.font_color_flying {
    color: #A1BBEC;
}

.font_color_ghost {
    color: #5F6DBC;
}

.font_color_grass {
    color: #5FBD58;
}

.font_color_ground {
    color: #DA7C4D;
}

.font_color_ice {
    color: #75D0C1;
}

.font_color_normal {
    color: #A0A29F;
}

.font_color_poison {
    color: #B763CF;
}

.font_color_psychic {
    color: #FA8581;
}

.font_color_rock {
    color: #C9BB8A;
}

.font_color_steel {
    color: #5695A3;
}

.font_color_metal {
    color: #5695A3;
}

.font_color_water {
    color: #539DDF;
}


/* =============================================
   ----- 02 TYPE COLORS FOR POKEMON CARD -----
   ============================================= */

.type_bug {
    --typ_bg_color_first: #C8DE96;
    --typ_bg_color_second: #92BC2C;
}

.type_dark {
    --typ_bg_color_first: #ACABB0;
    --typ_bg_color_second: #595761;
}

.type_dragon {
    --typ_bg_color_first: #86B4E4;
    --typ_bg_color_second: #0C69C8;
}

.type_fairy {
    --typ_bg_color_first: #F6C8F2;
    --typ_bg_color_second: #EE90E6;
}

.type_electric {
    --typ_bg_color_first: #F8ECA6;
    --typ_bg_color_second: #F2D94E;
}

.type_lightning {
    --typ_bg_color_first: #F8ECA6;
    --typ_bg_color_second: #F2D94E;
}

.type_fighting {
    --typ_bg_color_first: #E9A0AF;
    --typ_bg_color_second: #D3425F;
}

.type_fire {
    --typ_bg_color_first: #FDD2A6;
    --typ_bg_color_second: #FBA54C;
}

.type_flying {
    --typ_bg_color_first: #D0DDF6;
    --typ_bg_color_second: #A1BBEC;
}

.type_ghost {
    --typ_bg_color_first: #AFB6DE;
    --typ_bg_color_second: #5F6DBC;
}

.type_grass {
    --typ_bg_color_first: #AFDEAC;
    --typ_bg_color_second: #5FBD58;
}

.type_ground {
    --typ_bg_color_first: #ECBEA6;
    --typ_bg_color_second: #DA7C4D;
}

.type_ice {
    --typ_bg_color_first: #BAE8E0;
    --typ_bg_color_second: #75D0C1;
}

.type_normal {
    --typ_bg_color_first: #D0D0CF;
    --typ_bg_color_second: #A0A29F;
}

.type_poison {
    --typ_bg_color_first: #DBB1E7;
    --typ_bg_color_second: #B763CF;
}

.type_psychic {
    --typ_bg_color_first: #FCC2C0;
    --typ_bg_color_second: #FA8581;
}

.type_rock {
    --typ_bg_color_first: #E4DDC4;
    --typ_bg_color_second: #C9BB8A;
}

.type_steel {
    --typ_bg_color_first: #AACAD1;
    --typ_bg_color_second: #5695A3;
}

.type_metal {
    --typ_bg_color_first: #AACAD1;
    --typ_bg_color_second: #5695A3;
}

.type_water {
    --typ_bg_color_first: #A9CEEF;
    --typ_bg_color_second: #539DDF;
}